
<nav id="nav">
				<ul class="container">
					<button class="btn btn-dark"><%= link_to "Sign Up", new_user_registration_path %></button>
                   <button class="btn btn-dark"><%= link_to "Sign In", new_user_session_path %></button>
				</ul>
                
	</nav>


<div id="header">
				<span class="logo icon fa-paper-plane"></span>
				<h1>Welcome to the MAKEUP API </h1>
	</div>


<div id="main">

				<header class="major container medium">
					<h2> Please sign in or sign up for the use the ApiMakeup
					
				</header>