// body {
//     // background-image:image-url("maquillaje2.png");
//     // background-image: linear-gradient(#ffe4e1, #e3f7f0);
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%)
// }

// body:hover { 
//     background-position: right center; 
// }



// p {
//     font-family: 'Muli', sans-serif;
//     font-size: 25px;
//     text-align: center;
//     font-weight: bold;
//     color: blueviolet;

// }

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

div.box {
  text-align: center;
  width: 55px;
  background-color: #eee;
  border-radius: 3px;
  box-shadow:0 0 10px #000;
  padding: 3px;
}
div.box {
  font-family: arial;
  font-size: 12px;
  text-decoration: none;
  color: #000;
}
div.box:hover {
  cursor: pointer;
  background-color:#fdd;
}

a.btn.btn-primary{
    color: white;
    background-image: linear-gradient(black, gray);
	border: #282828;
// display: table-cell;

//  align-content: center;
//  justify-content: center;
margin: 0 auto;
display: inline-block;

}



div.card-body1{
    
    border-color:  chocolate; 
    border-style: groove;
	background-image: linear-gradient(#edeff0, silver);
	margin-bottom: 10px; 
    
}


footer { 
    display: block;
  }

  .container1{
	background-image: linear-gradient(#edeff0, silver);
	// background-color: yellow;
	  height: 20em;
	
	
	
	  
  }

 
  
  

// Para el carousel
  .carousel {
    margin-left: 15%;
    margin-right: 15%;
}

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

// Para la imagen del slide

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   
// Para la imagen del slide

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}
// Para la imagen del slide
input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
 {
	opacity: 1;
}

input:checked + .slide-container .nav label { display: block; }

// Reset.
// Based on meyerweb.com/eric/tools/css/reset (v2.0 | 20110126 | License: public domain)

	html, body, div, span, applet, object,
	iframe, h1, h2, h3,  h6, p, blockquote,
	pre, a, abbr, acronym, address, big, cite,
	code, del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var, b,
	u, i, center, dl, dt, dd, ol, ul, li, fieldset,
	form, label, legend, table, caption, tbody,
	tfoot, thead, tr, th, td, article, aside,
	canvas, details, embed, figure, figcaption,
	footer, header, hgroup, menu, nav, output, ruby,
	section, summary, time, mark, audio, video {

		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
        line-height: 1;
        background-image: linear-gradient(#ffe4e1, #e3f7f0);
	}

	ol, ul {
		list-style:none;
	}

	blockquote,	q {
		quotes: none;

		&:before,
		&:after {
			content: '';
			content: none;
		}
    }
    
    h1, h4{
        color:black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: capitalize;
     
    }
	body {
		-webkit-text-size-adjust: none;
	}
/* Basic */

	// Set box model to border-box.
	// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
		html {
			box-sizing: border-box;
		}

		*, *:before, *:after {
			box-sizing: inherit;
		}

	html, body {
        height: 100%;
        
	}

	body, input, select, textarea {
		color: _palette(fg);
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16pt;
		font-weight: 400;
		line-height: 1.75em;
	}

	a {
		
		border-bottom: dotted 1px;
		color: _palette(accent1, bg);
		text-decoration: none;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	strong, b {
		font-weight: 600;
		color: _palette(fg-bold);
	}

	em, i {
		font-style: italic;
	}

	p, ul, ol, dl, table, blockquote, form {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: _palette(fg-bold);
		font-weight: 700;
		letter-spacing: 0.125em;
		line-height: 1.75em;
		margin-bottom: 1em;
		text-transform: uppercase;
		text-align: center;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.5em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-top: solid 1px _palette(border);
		margin-bottom: 1.5em;
	}

	blockquote {
		border-left: solid 0.5em _palette(border);
		font-style: italic;
		padding: 1em 0 1em 2em;
	}

/* Container */

	.container {
		margin: 0 auto;
		max-width: 100%;
		width: 51em;

		&.medium {
			width: (51em * 0.75);
		}

		
			&.medium {
				width: (48em * 0.75);
			}
		

		
			&.medium {
				width: (95% * 0.75);
            }
    }
	header {
		text-align: center;

		p {
			position: relative;
			top: -1em;
			color: _palette(fg-light);
			text-transform: uppercase;
			letter-spacing: 0.075em;
		}

		&.major {
			border-bottom-width: 1px;
			border-color: _palette(border);
			border-style: solid;
			border-top-width: 1px;
			margin-bottom: 6em;
			padding: 4em 0;
			position: relative;

			&:before,
			&:after {
				background: _palette(border);
				content: '';
				display: block;
				height: 1px;
				left: 0;
				position: absolute;
				width: 100%;
			}

			&:before {
				top: 10px;
			}

			&:after {
				bottom: 10px;
			}

			
			p {
				top: 0;
				margin: 1.5em 0 0 0;
				padding: 1.5em 1.5em 0 1.5em;
				font-size: 1.5em;
				line-height: 1.75em;
				border-top: solid 1px _palette(border);
				display: inline-block;
			}

			&.last {
				border-bottom: 0;
				margin-bottom: 0;
				padding-bottom: 0;

				&:after {
					display: none;
				}

				h2 {
					margin-bottom: 1em;
				}
			}
		}
	}

	footer {
		text-align: center;

		&.major {
			border-bottom-width: 1px;
			border-color: _palette(border);
			border-style: solid;
			border-top-width: 1px;
			margin-top: 6em;
			padding: 4em 0;
			position: relative;

			&:before,
			&:after {
				background: _palette(border);
				content: '';
				display: block;
				height: 1px;
				left: 0;
				position: absolute;
				width: 100%;
			}

			&:before {
				top: 10px;
			}

			&:after {
				bottom: 10px;
			}
		}
	}
/* Header */

	#header {
		background-attachment:		scroll,							scroll,					fixed;
		background-image:			url('images/top-3200.svg'),		url('images/overlay.png'),		url('../../images/header.jpg');
		background-position:		bottom center,					top left,				center center;
		background-repeat:			repeat-x,						repeat,					no-repeat;
		background-size:			3200px 460px,					auto,					cover;
		color: _palette(accent2, fg);
		padding: 10em 0 20em 0;
		position: relative;
		text-align: center;

		&:before,
		&:after {
			background: _palette(border);
			content: '';
			left: 50%;
			position: absolute;
			width: 1px;
			z-index: 0;
		}

		&:before {
			height: calc(100% - 50px);
			opacity: 0.15;
			top: 0;
		}

		&:after {
			bottom: 0;
			height: 50px;
		}

		a {
			border-bottom-color: _palette(accent2, fg-light);
			color: _palette(accent2, fg);

			&:hover {
				border-bottom-color: transparent;
				color: _palette(accent1, bg);
			}
		}

		strong, b {
			color: _palette(accent2, fg-bold);
		}

		.logo {
			background: _palette(accent1, bg);
			border-radius: 100%;
			color: _palette(accent1, fg-bold);
			cursor: default;
			display: inline-block;
			font-size: 2.25em;
			height: 2.35em;
			line-height: 2.35em;
			margin: 0 0 0.75em 0;
			text-align: center;
			width: 2.35em;

			&.fa-paper-plane-o:before {
				left: -0.075em;
				position: relative;
			}
		}


		
	}

/* Footer */

    // Dandole dise単o al h3 en el footer y al p
    h3{
        color:black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: 0px 20px 30px purple;
    }
    p{
        color:black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: 0px 20px 30px purple;
    }

   
/* Main */
	#main {
		padding: 6em 0 5em 0;
		position: relative;
		z-index: 1;

		&:before {
			background: _palette(border);
			content: '';
			height: 100%;
			left: 50%;
			position: absolute;
			top: 0;
			width: 1px;
			z-index: -1;
		}

		header.major,
		footer.major {
			background: _palette(bg);
        }
    
    }
    // darle dise単o al h2 donde comienza where 
    
    h2{
        color:black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-shadow: 0px 20px 30px purple;

    }
		/* Section/Article */

			header {
				&.major {
					margin-bottom: 4em;
					padding: 3em 0;

					p {
						font-size: 1.15em;
					}
				}
			}

			footer {
				&.major {
					margin-top: 4em;
					padding: 3em 0;
				}
			}
		/* Header */

			#header {
				background-image:			url('images/top-1280.svg'),			url('images/overlay.png'),		url('../../images/header.jpg');
				background-size:			1280px 184px,						auto,							cover;
				padding: 3em 0 7em 0;

				&:before {
					height: calc(100% - 20px);
				}

				&:after {
					height: 20px;
				}

				

				h1 {
					font-size: 1.25em;
				}

				p {
					font-size: 1em;
				}
            }
            
// Dise単o del nav
      #nav {
                background-image: linear-gradient(black, gray);
                text-align: center;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                z-index: 10000;
                cursor: default;
                height: 3.5em;
                line-height: 3.5em;
            }
        
                #nav ul {
                    margin-bottom: 0;
                    list-style: none;
                    padding-left: 0;
                }
        
                #nav li {
                    display: inline-block;
                    padding-left: 0;
                }
        
                #nav a {
                    -moz-transition: background-color .2s ease-in-out;
                    -webkit-transition: background-color .2s ease-in-out;
                    -ms-transition: background-color .2s ease-in-out;
                    transition: background-color .2s ease-in-out;
                    position: relative;
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    outline: 0;
                    font-weight: 600;
                    border-radius: 8px;
                    color: #fff;
                    height: 2.5em;
                    line-height: 2.5em;
                    padding: 0 1.25em;
                }
        
                    #nav a:hover {
                        color: #fff !important;
                        background: #383838;
                    }
        
                    #nav a.active {
                        background: #484848;
                    }
        
                        #nav a.active:before {
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: -0.6em;
                            left: 50%;
                            margin-left: -0.75em;
                            border-left: solid 0.75em transparent;
                            border-right: solid 0.75em transparent;
                            border-top: solid 0.6em #282828;
                        }

// darle dise単o ala imagen del maquillaje
.dock-item{
 border-radius: 8em;
 box-shadow: 0px 20px 30px gray;
}

	
